In [ ]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
!pip install openpyxl==3.0.9

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl==3.0.9 in /usr/local/lib/python3.8/dist-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.8/dist-packages (from openpyxl==3.0.9) (1.1.0)

In [ ]:
import pandas as pd

In [ ]:
import openpyxl

In [ ]:
from openpyxl import load_workbook
from openpyxl.styles import Font
from openpyxl.chart import BarChart, Reference
import string

In [ ]:
dataset = pd.read_excel('Dataset-Bhagwati Store.xlsx')

In [ ]:
dataset[['BU' , 'SKU' , 'Brand' , 'Model' , 'Avg Price']]

,BU,SKU,Brand,Model,Avg Price
0,Bakery,B01,Britannia,Pineapple Cake 55g,25
1,Bakery,B02,Britannia,Fruity Fun Cake 55g,20
2,Bakery,B03,Britannia,Orange Bites Cake 55g,25
3,Bakery,B04,Britannia,Choco Chill Cake 55g,30
4,Bakery,B05,Sunfeast,Caker Trinity Cake,60
5,Bakery,B06,Parle,Happy Happy Cakes,10
6,Milk,M01,Amul,Amul Milk 1/2 Litre,26
7,Milk,M02,Mother Dairy,Mother Dairy Milk 1/2 Litre,28
8,Milk,M03,Milk Food,Milk Food Milk 1/2 Litre,33
9,Milk,M04,Doody,Doody Milk 1/2 Litre,30
10,Milk,M05,Cow,Cow Milk 1/2 Litre,32
11,Rice,R01,Johri,Johri Rice 1 kg,40
12,Rice,R02,Satake,Satake Rice 1 kg,55
13,Rice,R03,Green India,Green India Rice 1 kg,30
14,Rice,R04,Basmati,Basmati Rice 1 kg,70
15,Rice,R05,Gia International,Gia International Rice 1 kg,100
16,Pulses,P01,Vedaka,Chana Daal 1 kg,70
17,Pulses,P02,Amazon Brand,Chole 1 kg,120
18,Pulses,P03,Dhiman Agro,Moong Daal 1 kg,65
19,Cosmetics,C01,Kosmetics Lane,Moisturizer,282
20,Cosmetics,C02,Jas Raney and Company,Matte Waterproof Lipstick,499
21,Cosmetics,C03,Vcos Cosmetics,Skin Tint for Women,319
22,Cosmetics,C04,Dove,"Pack of 4, Bath Soap",231
23,Cosmetics,C05,Pantene,Shampoo 1 litre,661

In [ ]:
dataset.head()

       BU  SKU      Brand                  Model  Avg Price
0  Bakery  B01  Britannia     Pineapple Cake 55g         25
1  Bakery  B02  Britannia    Fruity Fun Cake 55g         20
2  Bakery  B03  Britannia  Orange Bites Cake 55g         25
3  Bakery  B04  Britannia   Choco Chill Cake 55g         30
4  Bakery  B05   Sunfeast     Caker Trinity Cake         60

In [ ]:
dataset_sheet2 = pd.read_excel(dataset, sheetname=0, index_col=0)

TypeError: ignored